# Basic configuration for Keycloak
# See https://www.keycloak.org/server/all-config for detailed options

# Basic settings
hostname={{ keycloak_domain }}
hostname-strict={{ keycloak_hostname_strict | lower }}
hostname-strict-https={{ keycloak_hostname_strict_https | lower }}
hostname-strict-backchannel={{ keycloak_hostname_strict_backchannel | lower }}

# HTTP settings
http-enabled={{ keycloak_http_enabled | lower }}
http-port={{ keycloak_http_port }}
https-port={{ keycloak_https_port }}
https-certificate-file={{ keycloak_ssl_cert_file }}
https-certificate-key-file={{ keycloak_ssl_key_file }}
proxy={{ keycloak_proxy_mode }}

# Database settings
db={{ keycloak_db_type }}
db-url-host={{ keycloak_db_host }}
db-username={{ keycloak_db_username }}
db-password={{ keycloak_db_password }}
db-url-database={{ keycloak_db_name }}
db-schema={{ keycloak_db_schema }}
transaction-xa-enabled={{ keycloak_transaction_xa_enabled | lower }}

# Logging
log={{ keycloak_log_dir }}/keycloak.log
log-level=INFO

# Features
features={{ keycloak_features | join(",") }}

# Cache config
cache={{ keycloak_cache_type }}
