<?php
/**
 * Tuleap local configuration
 */

// Database connection
$sys_dbhost     = 'localhost';
$sys_dbuser     = '{{ tuleap_db_user }}';
$sys_dbpasswd   = '{{ tuleap_db_password }}';
$sys_dbname     = '{{ tuleap_db_name }}';

// Site essentials
$sys_default_domain = '{{ tuleap_domain }}';
$sys_https_host     = '{{ tuleap_domain }}';
$sys_https_port     = '{{ tuleap_port }}';
$sys_org_name       = 'Tuleap';
$sys_long_org_name  = 'Tuleap DevOps Platform';
$sys_custom_incdir  = '/etc/tuleap/plugins/';
$sys_default_mail_domain = '{{ tuleap_domain }}';
$sys_shorten_urls = false;

// Secure cookies
$sys_cookie_secure = {{ 'true' if tuleap_protocol == 'https' else 'false' }};
$sys_cookie_samesite = 'Lax';

// Mail configuration
$sys_email_admin = '{{ tuleap_admin_email }}';
$sys_email_contact = '{{ tuleap_admin_email }}';
$sys_mail_domain = '{{ tuleap_domain }}';
$sys_mail_server = '{{ tuleap_mail_server }}';
$sys_mail_port = {{ tuleap_mail_port }};

// Plugins
$sys_incdir = '/usr/share/tuleap/site-content/';

// Git configuration
$sys_git_root_path = '/var/lib/tuleap/gitolite/repositories';
$sys_git_admin_key = '{{ tuleap_gitolite_admin_key }}';

{% if tuleap_ldap_enabled %}
// LDAP configuration
$sys_ldap_server = '{{ tuleap_ldap_server }}';
$sys_ldap_bind_dn = '{{ tuleap_ldap_bind_dn }}';
$sys_ldap_bind_password = '{{ tuleap_ldap_bind_password }}';
$sys_ldap_base_dn = '{{ tuleap_ldap_base_dn }}';
{% endif %}
